<% content_for :head do %>
	<%= render :partial => 'shared/yui_table_header' %>
	<style>

	.yui-dt table
	{
	    width: 100%;
	}

	</style>	
<% end %>

<h1>Media Folders</h1>

<div id="tableDiv">
<table id="foldersTable">
  <thead>
  <tr>
    <th>Location</th>
    <th>Scan</th>
    <th>Date Created</th>
	<th colspan="2">Actions</th>
  </tr>
  </thead>

<tbody>
<% @media_folders.each do |media_folder| %>
  <tr>
    <td><%=h media_folder.location %></td>
    <td><%=h media_folder.scan %></td>
    <td><%=h media_folder.created_at %></td>
    <td><%= link_to 'Edit', edit_media_folder_path(media_folder) %></td>
    <td><%= link_to 'Destroy', media_folder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<br />

<%= yui_button_link :text => 'New media folder', :link => new_media_folder_path %>

<%= render :partial => 'shared/yui_table', 
	:object => {:columns => ['Location', 'Scan', 'Date Created', 'Actions'], 
				:tableId => 'foldersTable', :divId => 'tableDiv' } %>
