<div class="contentCarouselItem">
	<div class="contentCarouselName"><%= truncate_and_tooltip :text => carousel_item.name, :max_length => 21 %></div>				
	<div class="contentCarouselImageDiv">
		<a href="<%= url_for carousel_item %>">
			<% if carousel_item.poster(:small) %>
				<img src="<%= url_for video_content_video_poster_path(carousel_item, carousel_item.poster(:small)) %>"
				 	class="contentCarouselImage" width="100" height="140"/>
			<% else %>
				<img src="/images/no_preview.jpg" class="contentCarouselImage" width="100" height="140"/>
			<% end %>
		</a>
	</div>
	<div class="contentCarouselYear"><%=h carousel_item.year %></div>
	<div class="contentCarouselRuntime"><%=h carousel_item.runtime_formatted %></div>
</div>