<% content_for :head do %>
  <link type="text/css" rel="stylesheet" href="<%= ONBOX_CONFIG[:yui_path] %>/carousel/assets/skins/sam/carousel.css">
 
  <script src="<%= ONBOX_CONFIG[:yui_path] %>/element/element-min.js"></script>
  <script src="<%= ONBOX_CONFIG[:yui_path] %>/carousel/carousel-min.js"></script>
  <script src="<%= ONBOX_CONFIG[:yui_path] %>/animation/animation-min.js"></script>

<% end %>

<% content_for :title do %>
  Your Movies
<% end %>

<style type="text/css">
	.yui-skin-sam .yui-carousel-item-loading {
		text-indent: 0px;
	}

	/* Always be sure to give your carousel items a width and a height */
	.yui-carousel-element li {
	    width: 160px;
	    height: 205px;
		margin: 5px;
	}

	.yui-carousel-element .yui-carousel-item-selected {
	    border:1px solid #CCCCCC;
	    width: 160px;
	    height: 205px;
		margin: 5px;	
	}

	.yui-carousel-content {
		background-color: white;
	}
</style>

<h1>Your Movies</h1>

<div id="contentContainer">
	<ol>
		<% @video_contents.each do |video_content| %>
			<li>
				<%= render :partial => "carousel_item", :object => video_content %>
			</li>
		<% end %>
	</ol>
</div>


<script>
	var carWidth = <%= HomeController::CAROUSEL_WIDTH %>;
	var carHeight = <%= HomeController::CAROUSEL_HEIGHT %>;
	var carousel = null;
	
	YAHOO.util.Event.onDOMReady(function (ev) {
	    carousel = new YAHOO.widget.Carousel("contentContainer", {
	        animation: { speed: 0.5, effect: YAHOO.util.Easing.easeOut },
	        numVisible: [carWidth,carHeight],
			numItems: <%= @video_content_count %>
	    });
		carousel.on("loadItems", loadCarouselItems);
	    carousel.render();
	    carousel.show();
	});
	
	function loadCarouselItems(o) {
		var offset = 0;
		var pageSize = carWidth*carHeight;
        if(o){
            YAHOO.log('Num: ' + o.num + " First: " + o.first + " Last: " + o.last);   
            offset = o.first;
			pageSize = o.num;
        }

		new Ajax.Request("<%= url_for :controller => 'home', :action => 'video_content_items' %>", { 
			method:'get', 
			parameters: {'offset': offset, 'page_size': pageSize},
			evalJS:'force' 
		});		
	}
	
	function addCarouselItem(item){
		carousel.addItem(item);
	}
</script>