<% content_for :head do %>
  <link type="text/css" rel="stylesheet" href="<%= ONBOX_CONFIG[:yui_path] %>/carousel/assets/skins/sam/carousel.css">
 
  <script src="<%= ONBOX_CONFIG[:yui_path] %>/element/element-min.js"></script>
  <script src="<%= ONBOX_CONFIG[:yui_path] %>/carousel/carousel-min.js"></script>
  <script src="<%= ONBOX_CONFIG[:yui_path] %>/animation/animation-min.js"></script>

  <script type="text/javascript" src="<%= ONBOX_CONFIG[:yui_path] %>/history/history-min.js"></script> 

  <%= javascript_include_tag 'home' %>
<% end %>

<% content_for :title do %>
  On Box: Home
<% end %>

<style type="text/css">
	.yui-skin-sam .yui-carousel-item-loading {
		text-indent: 0px;
	}

	.yui-carousel-element li {
	    width: 160px;
	    height: 205px;
		margin: 5px;
	}

	.yui-carousel-element .yui-carousel-item-selected {
	    border:1px solid #CCCCCC;
	    width: 160px;
	    height: 205px;
		margin: 5px;	
	}

	.yui-carousel-content {
		background-color: white;
	}
</style>

<h1>
    <% if params[:q].present? %>
        Search for: <%=h params[:q] %>
    <% else %>
        Your <%= 'Unwatched' if @unwatched %> <%= @genres.collect { |g| g.titleize }.join(' and ') %> 
        <% if params[:type] == 'TvShow' %>
            Tv Shows
        <% elsif params[:type] == 'Movie' %>
            Movies
        <% else %>
            Videos
        <% end %>
    <% end %>
</h1>

<% unless @video_contents.empty? %>
	<div id="contentContainer" class="hiddenDiv">
		<ol>
			<% @video_contents.each do |video_content| %>
				<li>
					<%= render :partial => "carousel_item", :object => video_content %>
				</li>
			<% end %>
		</ol>
	</div>
    <div id="videoOrderWrapper">
		Order by: 
		<%= link_to "Name", home_search_path(params[:criteria], :q => params[:q], :order => 'name'), 
		:class => (params[:order].blank? || params[:order] == 'name' ? 'bold' : '') %> |  
		<%= link_to "Added", home_search_path(params[:criteria], :q => params[:q], :order => 'added'),
		:class => (params[:order] == 'added' ? 'bold' : '') %> | 
		<%= link_to "Rating", home_search_path(params[:criteria], :q => params[:q], :order => 'rating'),
		:class => (params[:order] == 'rating' ? 'bold' : '') %>
	</div>
	<div id="videoCountWrapper">
        <%= @video_content_count %> videos
    </div>
	<script>
	    var videoCarousel = new VideoCarousel('contentContainer', <%= @video_content_count %>, 
	                                          <%= HomeController::CAROUSEL_WIDTH %>,
	                                          <%= HomeController::CAROUSEL_HEIGHT %>,
	                                          '<%= home_carousel_path params[:criteria], :q => params[:q], 
												:order => params[:order] %>');
	</script>
<% else %>
	<div>
		No videos.
	</div>
<% end %>

<!-- Needed by YUI history which is used to record the carousel page -->
<iframe id="yui-history-iframe" src="/history"></iframe> 
<input id="yui-history-field" type="hidden">
