<div style="width: 600px;">
<% form_for @reference, :html => { :class => 'defaultForm' } do |f| %>
  <fieldset>
      <legend>Video File Reference:</legend>
	  <div class="defaultFormField">
	    <%= f.label :raw_name %>
	    <%= f.text_field :raw_name, :class => "defaultFormTextField" %>
		<%= error_message_on @reference, :raw_name, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= f.label :media_folder_id %>
	    <%= f.collection_select :media_folder_id, MediaFolder.all, :id, :location %>
		<%= error_message_on @reference, :media_folder_id, :css_class => "defaultFormError" %>
	  </div>	
	  <div class="defaultFormField">
	    <%= f.label :location %>
	    <%= f.text_field :location, :class => "defaultFormTextField" %>
		<%= error_message_on @reference, :location, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= f.label :format %>
	    <%= f.text_field :format, :class => "defaultFormTextField" %>
		<%= error_message_on @reference, :format, :css_class => "defaultFormError" %>
	  </div>	
	  <div class="defaultFormField">
	    <%= f.label :size %>
	    <%= f.text_field :size, :class => "defaultFormTextField" %>
		<%= error_message_on @reference, :size, :css_class => "defaultFormError" %>
	  </div>	
	  <div class="defaultFormField">
	    <%= f.label :on_disk %>
	    <%= f.check_box :on_disk %>
		<%= error_message_on @reference, :on_disk, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= f.label :video_content_name, "Video" %>
	    <%= text_field_with_auto_complete :video_content, :name, 
			{ :class => "defaultFormTextField", :value => @reference.video_content_name }, 
			{ :url => url_for(:controller => 'video_contents', :action => 'auto_complete'), :method => :get, :param_name => 'search' } %>
		<%= error_message_on @reference, :video_content_name, :css_class => "defaultFormError" %>
	  </div>	
  </fieldset>
  <% if not @reference.errors.empty? %>
		<div class="defaultFormErrorOverview">
  		 Save failed, please see errors above.
		</div>
  <% end %>
  <div class="defaultFormButtons">
	<%= yui_submit_button "Save" %>
  </div>
<% end %>
</div>

