<% content_for :head do %>
	<%= render :partial => 'shared/yui_table_header' %>
	<style>

	.yui-dt table
	{
	    width: 100%;
	}

	</style>
<% end %>

<h1>Videos</h1>
<div>
<div id="tableWrapper">
	<table id="modelTable">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Year</th>
		<th>Type</th>
	    <th>State</th>
		<th>Actions</th>
	  </tr>
	</thead>

 	<tbody> 
	<% @video_contents.each do |video_content| %>
	  <tr>
	    <td><%=h video_content.name %></td>
	    <td><%=h video_content.year %></td>
		<td><%=h video_content.type %></td>
	    <td><%=h VideoContentState.display_name(video_content.state) %></td>
	    <td>
			<%= link_to 'Show', video_content %> |
	        <%= link_to 'Edit', edit_video_content_path(video_content) %> |
            <%= link_to 'Posters', video_content_video_posters_path(video_content) %> |
	        <%= link_to 'Destroy', video_content, :confirm => "Are you sure want to remove #{video_content.display_name}?", :method => :delete %>
		</td>
	  </tr>
	<% end %>
	</tbody> 
	</table>
</div>

<div style="padding-top: 10px;">	
	<div style="float: left">
		<%= yui_button_link :text => 'New Video', :link => new_video_content_path %>
	</div>
	<div style="float: right">
		<div id="tablePaginator"></div>
	</div>
</div>
</div>


<%= render :partial => 'shared/yui_table', 
	:object => {:columns => ['Name', 'Year', 'Type', 'State', 'Actions'], :tableId => 'modelTable', :divId => 'tableWrapper',
				:item_count => @video_content_count, :paginator_div => 'tablePaginator', :page => @page } %>
