<div class="formWrapper">
<% form_for @video_content, :html => { :class => 'defaultForm' } do |video_form| %>
  <fieldset>
      <legend>Video Content:</legend>
	  <div class="defaultFormField">
	    <%= video_form.label :name %>
	    <%= video_form.text_field :name, :class => "defaultFormTextField" %>
		<%= error_message_on @video_content, :name, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :year %>
		<%= video_form.text_field :year, :class => "defaultFormTextField" %>
		<%= error_message_on @video_content, :year, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :type %>
		<%= video_form.select :type, [["Movie", "Movie"], ["Tv Show", "TvShow"]] %>
		<%= error_message_on @video_content, :type, :css_class => "defaultFormError" %>
	  </div>	
	  <div class="defaultFormField">
	    <%= video_form.label :release_date, "Release Date" %>
	    <%= video_form.date_select :release_date %>
		<%= error_message_on @video_content, :release_date, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :runtime %>
	    <%= video_form.text_field :runtime, :class => "defaultFormTextField" %>
		<%= error_message_on @video_content, :runtime, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :director %>
	    <%= video_form.text_field :director, :class => "defaultFormTextField" %>
		<%= error_message_on @video_content, :director, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :language %>
	    <%= video_form.text_field :language, :class => "defaultFormTextField" %>
		<%= error_message_on @video_content, :language, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :tag_line %>
	    <%= video_form.text_field :tag_line, :class => "defaultFormTextField" %>
		<%= error_message_on @video_content, :tag_line, :css_class => "defaultFormError" %>
	  </div>				
	  <div class="defaultFormField">
	    <%= video_form.label :plot %>
	    <%= video_form.text_area :plot, :size => "38x6" %>
		<%= error_message_on @video_content, :plot, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :state %>
	    <%= video_form.select :state, VideoContentState.select_values %>
		<%= error_message_on @video_content, :state, :css_class => "defaultFormError" %>
	  </div>
	  <div class="defaultFormField">
	    <%= video_form.label :imdb_id, "Imdb Id" %>
	    <%= video_form.text_field :imdb_id, :class => "defaultFormTextField" %>
		<%= error_message_on @video_content, :imdb_id, :css_class => "defaultFormError" %>
	  </div>
  </fieldset>
  <% if not @video_content.errors.empty? %>
		<div class="defaultFormErrorOverview">
  		 Save failed, please see errors above.
		</div>
  <% end %>
  <div class="defaultFormButtons">
	<%= yui_submit_button "Save" %>
  </div>
<% end %>
</div>
<% if not @video_content.new_record? %>
	<div class="formSideBar">
		  <%= link_to 'Edit Posters', video_content_video_posters_path(@video_content) %>
	</div>
<% end %>
