<% content_for :head do %>

<script type="text/javascript" src="/accordionview/utilities.js"></script>
<link rel="stylesheet" type="text/css" href="/accordionview/assets/skins/sam/accordionview.css">
<script type="text/javascript" src="/accordionview/accordionview.js"></script>

<%= render :partial => 'shared/yui_table_header' %>

<link rel="stylesheet" type="text/css" href="<%= ONBOX_CONFIG[:yui_path] %>/tabview/assets/skins/sam/tabview.css">
<script type="text/javascript" src="/accordionview/tabview-min.js"></script>

<!-- YUI Dialog -->
<link rel="stylesheet" type="text/css" href="<%= ONBOX_CONFIG[:yui_path] %>/container/assets/skins/sam/container.css">
<script src="<%= ONBOX_CONFIG[:yui_path] %>/animation/animation-min.js"></script>
<script src="<%= ONBOX_CONFIG[:yui_path] %>/dragdrop/dragdrop-min.js"></script>
<script src="<%= ONBOX_CONFIG[:yui_path] %>/container/container-min.js"></script>
<script type="text/javascript" src="<%= ONBOX_CONFIG[:yui_path] %>/button/button-min.js"></script> 

<%= javascript_include_tag 'video_content_show' %>

<style>

.yui-dt table
{
    width: 100%;
}

.yui-button {
	vertical-align: bottom;
}
</style>
<% end %>

<% content_for :title do %>
  On Box: <%=h @video_content.display_name %>
<% end %>

<div class="viewWrapper overclear">
	<div class="viewCoreMetadata">
		
		<div id="showTypeIconWrapper">
			<%=image_tag @video_content.movie? ? 'movie.png' : 'tv_show.png', :alt => @video_content.movie? ? 'Movie' : 'Tv Show', :title => @video_content.movie? ? 'Movie' : 'Tv Show'%>
		</div>		
		
		<div id="watchedWrapper" class="<%= 'notWatched' unless @watched %>">
			<a id="watchedContentLink" class="fakeLink" href="#" onclick="return false;"><%=image_tag "watched.png" %></a>
			<%=yui_tooltip "watchedContentLink", @watched ? "Watched" : "Click to mark video as watched" %>
		</div>
		
		<h1 class="viewTitle"><%=h @video_content.display_name %></h1>
		<div class="viewPlotSummary"><%=h @video_content.plot %></div>
		
		<div class="viewCoreDetailsWrapper overclear">
			<div class="viewCoreDetailsLeft">
				<div>
					<div class="viewDetailsLabel">Imdb Id:</div>
					<div class="viewDetailsValue">
						<% if @video_content.imdb_id %>
							<a href="http://www.imdb.com/title/tt<%=h @video_content.imdb_id %>"><%=h @video_content.imdb_id %></a>
						<% else %>
							IMDB Id Unknown
						<% end %>
					</div>
				</div>				
				<%= view_content_details "Director", @video_content.director %>	
				<%= view_content_details "Runtime", @video_content.runtime_formatted %>				
			</div>
			<div class="viewCoreDetailsRight">
				<%= view_content_details "Status", @video_content.state_display_name %>	
				<%= view_content_details "Release Date", @video_content.release_date %>	
				<%= view_content_details "Language", @video_content.language %>		
				<%= view_content_details "Tagline", @video_content.tag_line %>				
			</div>
		</div>
		<% unless @video_content.genres.empty? %>
			<div class="viewCoreGenres">
				<span class="viewGenreLabel">Genres:</span> 
				<% @video_content.genres.each do |genre| %>
					<a href="<%= home_search_path [genre.name.downcase] %>"><%= genre.name %></a><%= ', ' unless genre == @video_content.genres.last %>
				<% end %>
			</div>
		<% end %>
		
		<div id="viewAccordionWrapper" class="hiddenDiv">
			<div class="viewAccordion">
				<ul id="topAccordion"> 
				    <li> 
			            <div>Files</div> 
			            <div> 
							<div class="accordionContent">
								<%= render :partial => 'video_files', :object => @video_content.video_file_references %>
							</div>
						</div>
					</li>
					<!--  Doesnt seem to work in dev, server hangs
					    <li> 
				            <div>Video</div> 
				            <div> 
								<div class="accordionContent">
									<% unless @video_content.video_file_references.empty? %>
										<object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" 
											codebase="http://www.apple.com/qtactivex/qtplugin.cab">
										 	<param name="src" 
												value="<%= video_file_reference_path(@video_content.video_file_references.first) %>" />
										 	<param name="controller" value="true" />
										</object>
									<% end %>
								</div>
							</div>
						</li>				
					-->
					<% if @video_content.tv_show? && @video_content.tv_episodes.present? %>
						<li> 
				            <div>Episodes</div> 
				            <div> 
								<div class="accordionContent">
									<%= render :partial => 'episodes' %>
								</div>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		YAHOO.util.Event.onDOMReady(function() {

			var topMenu = new YAHOO.widget.AccordionView('topAccordion', {width: '550px', animationSpeed: '0.6', animate: true,  
															expandable: true, collapsible: true, effect: YAHOO.util.Easing.easeNone});

			<% unless @video_content.video_file_references.empty? %>
				<% # This is very dodgy but cutlery makes html go missing if this accordion is rendered. Turning off for cuke tests %>
				<% if ONBOX_CONFIG[:show_file_accordion] %>
					var fileMenu = new YAHOO.widget.AccordionView('filesAccordion', {width: '520px', animationSpeed: '0.5', animate: true, 
					 		 								expandable: true, collapsible: true, effect: YAHOO.util.Easing.easeNone
														    <%= ', expandItem: 0' if @video_content.video_file_references.size == 1 %>});
				<% end %>
				
				<% # Id like this to be in video_files partial but it needs to be init after the AccordionViews 
				   # as otherwise tab selection doesnt work %>	
				<% @video_content.video_file_references.each do |file| %>
					
					<% if not file.video_file_properties.empty? %>
						
						<% file.video_file_properties.unique_groups.each do |group| %>
							//Use anon function to avoid name clashes generated by the yui_table_js template
							(function() {						
								<%= render :partial => 'shared/yui_table_js', 
									:object => {:columns => ['Property', 'Value'], 
											:tableId => "#{group + file.id.to_s }PropertyTable", 
											:divId => "#{group + file.id.to_s }tableWrapper"} %>
							})();
						<% end %>
						
						var fileTabView<%= file.id %> = new YAHOO.widget.TabView('filePropertyTab<%= file.id %>');
						fileTabView<%= file.id %>.set('activeIndex', 0);
					<% end %>
				<% end %>
				
			<% end %>
			<% if @video_content.tv_show? && @video_content.tv_episodes.present? %>
				var episodeMenu = new YAHOO.widget.AccordionView('episodesAccordion', {width: '520px', animationSpeed: '0.5', animate: true, 
													expandable: true, collapsible: true, effect: YAHOO.util.Easing.easeNone
													<%= ', expandItem: 0' if @video_content.tv_episodes.group_by_series.size == 1 %>});
			<% end %>
			YAHOO.util.Dom.removeClass('viewAccordionWrapper', 'hiddenDiv'); 												
		});
	</script>	
	
	<div class="viewPosterWrapper">
		<div class="overclear">
			<% if @video_content.poster(:large) %>
				<img src="<%= url_for video_content_video_poster_path(@video_content, @video_content.poster(:large)) %>"
				 	class="viewPosterLargeImg" <%= poster_width_and_height @video_content.poster(:large), 270, 500 %> />
			<% elsif @video_content.poster(:small) %>
				<img src="<%= url_for video_content_video_poster_path(@video_content, @video_content.poster(:small)) %>"
				 	class="viewPosterSmallImg" <%= poster_width_and_height @video_content.poster(:small), 270, 500 %>/>
			<% else %>
				<img src="/images/no_preview.jpg" class="viewPosterSmallImg" width="100" height="140"/>
			<% end %>
		</div>
		<div class="viewActionsWrapper">
			<% if current_user %>
				<%= yui_button_link :text => 'Edit Details', :link => edit_video_content_path(@video_content) %>
				<%= yui_button_link :text => 'Change Imdb Id', :onclick => 'imdbDialog.changeImdbId()' %>
				<%= yui_button_link :text => 'Refresh', :onclick => 'imdbDialog.reloadFromImdb()' %>
			<% end %>
		</div>
	</div>
	

	<%= render :partial => 'change_imdb_dialog' %>
	
	<script>
        var imdbDialog = new ChangeImdbDialog('changeImdbDialog', 'changeImdbDialogTabs', 
                                          '<%= search_imdb_video_contents_path(@video_content) %>');
		
		YAHOO.util.Event.addListener(window, "load", function(){
		   	addWatchClickListener('watchedContentLink', <%= @video_content.id %>, <%= !@watched %>); 
		});
	</script>
</div>