<% content_for :head do %>
	<%= render :partial => 'shared/yui_table_header' %>
	<style>

	.yui-dt table
	{
	    width: 100%;
	}

	</style>	
<% end %>

<h1>Video posters for <%=h @video_content.name %></h1>

<div id="tableWrapper">
<table id="posterTable">
  <thead>
  <tr>
    <th>Type</th>
    <th>Location</th>
    <th>Date Created</th>
	<th>Actions</th>
  </tr>
  </thead>

<tbody>
<% @video_posters.each do |poster| %>
  <tr>
    <td><%=h VideoPosterSize.display_name(poster.size) %></td>
    <td><%=h poster.location %></td>
    <td><%=h poster.created_at %></td>
	<td>
	    <%= link_to 'Show', video_content_video_poster_path(@video_content, poster) %> |
        <%= link_to 'Edit', edit_video_content_video_poster_path(@video_content, poster) %> |
        <%= link_to 'Destroy', video_content_video_poster_path(@video_content, poster), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<br/>

<%= yui_button_link :text => 'New Poster', :link => new_video_content_video_poster_path(@video_content) %>

<%= render :partial => 'shared/yui_table', 
	:object => {:columns => ['Type', 'Location', 'Date Created', 'Actions'], 
				:tableId => 'posterTable', :divId => 'tableWrapper' } %>