<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 
 <title><%= yield :title or 'What\'s on the box?' %></title>

 <%= stylesheet_link_tag 'style' %>  
 <%= stylesheet_link_tag 'theme-style' %>
 <%= javascript_include_tag :defaults %>

 <!-- Common YUI resources -->
 <!--link rel="stylesheet" type="text/css" href="<%= ONBOX_CONFIG[:yui_path] %>/fonts/fonts-min.css"-->
 <link rel="stylesheet" type="text/css" href="<%= ONBOX_CONFIG[:yui_path] %>/button/assets/skins/sam/button.css">
 <script src="<%= ONBOX_CONFIG[:yui_path] %>/yahoo/yahoo-min.js"></script>
 <script src="<%= ONBOX_CONFIG[:yui_path] %>/yahoo-dom-event/yahoo-dom-event.js"></script> 
 <script src="<%= ONBOX_CONFIG[:yui_path] %>/logger/logger-min.js"></script>
 <link rel="stylesheet" type="text/css" href="<%= ONBOX_CONFIG[:yui_path] %>/container/assets/skins/sam/container.css" /> 
 <script type="text/javascript" src="<%= ONBOX_CONFIG[:yui_path] %>/container/container-min.js"></script> 

 <%= yield :head %>
</head>
<body class="yui-skin-sam">
	<div id="all"> 
		<!-- BEGIN header --> 
		<div id="header"> 
			<div id="menu"> 
				<ul id="nav"> 
					<li class="<%= 'current_page_item' if current_page?('/') %>"><%= link_to "Home", :controller => 'home' %></li>
					<li class="<%= 'current_page_item' if current_page?(admin_path) %>"><%= link_to "Admin", admin_path %></li>
				</ul>
				
			<div id="loginHeader">	
				<% if !current_user && !(current_page?(new_user_session_path) || current_page?(login_path)) %>
				  <%= link_to "Log In", login_path %>
				<% elsif current_user %>
				  Welcome <%= current_user.login.titleize %>
				  (<%= link_to "Logout", user_session_path, :method => :delete %>)
				<% end %>
			</div>	
			</div>
			<div id="hed"> 
				<div class="logo"> 
					<img src="/images/banner.png" alt="What's on the box?">
				</div>
			</div>
			<div id="cat_navi" class="wrap"> 
				<ul id="secnav"> 
					<li><a href="<%= url_for :controller => 'home' %>">View All<br/><span>Show videos</span></a></li>
					<li><a href="<%= home_search_path 'unwatched' %>">Unwatched<br/><span>Show videos</span></a></li>
					<li>
						<a href="#">Genres<br/><span>By genre</span></a>
						<ul>
							<% Genre.all(:order => 'name').each do |genre| %>
								<li><a href="<%= home_search_path [genre.name.downcase] %>"><%= genre.name %></a></li>
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
			<div id="movieSearchDiv">
			    <% form_tag root_path, :method => :get do %>
			        <%= label_tag "q", "Search All" %>
				    <%= text_field_tag 'q', params[:q] %>
				    <%= yui_submit_button "Search" %>
			    <% end %>
			</div>
			<div style="clear: both;"></div> 
		</div> 
		<!-- END header -->	
		
		<!-- BEGIN wrapper --> 
		<div id="wrapper"> 
		<!-- BEGIN content --> 
		<div id="content">
			

		<!-- begin featured news --> 
		<div class="featured"> 
			<!--<h2>Featured</h2>--> 
 
 		<div class="featlist"> 
			<div class="highlight">
				<p style="color: green"><%= flash[:notice] %></p>
				<p style="color: red"><%= flash[:error] %></p>
			</div> 
			<div id="featured"> 
				<div class="fblock">			
					<%= yield  %>
				</div>
			</div>
		</div>
		
		</div>
		<!-- end featured news --> 
		
		</div>
		<!-- END content -->
		
		</div> 
		<!-- END wrapper -->
		
		<!-- BEGIN footer --> 

		<div id="footer"> 

		<div id="totop"> 
		<a href="#">Jump To Top</a> 
		</div> 
		
		<div class="wrapper"> 
		    What's on the box? [<%= ONBOX_CONFIG[:onbox_version] %>] | Developed by <a href="mailto:cavenaghweb@hotmail.com">Sam Cavenagh</a> | Theme Design by <a href="http://goodtheme.org" title="Really Good Theme">GoodTheme.org</a>	
		</div> 
		</div> 
		<!-- END footer -->		
	</div>
	
	<script>
       //Enable debug to console
       YAHOO.widget.Logger.enableBrowserConsole();
	</script>
</body>
</html>